/*
    Created on : 11 Nov, 2017, 4:42:53 AM
    Author     : afsal villan
*/

* {
    -fx-primary: #2A2E37;
    -fx-secondary: #1976D2;
    -fx-primarytext: #ffffff;
    -fx-secondarybackground: #383f43;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-color-1: #1976D2;
    -fx-background-color: #2b3036;
}

.root {
    -fx-background-color: -fx-primary;
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 15px;
    -fx-background-radius: 15px;
    -fx-font-size: 10pt;
}

.button:hover, .button:focused {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-secondary;
    -fx-text-fill: -fx-primary;
}

.list-cell {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-secondarybackground;
    -fx-border-color: #778485;
    -fx-border-radius: 1px;
}

.list-view {
    -fx-text-fill: -fx-primarytext;
    -fx-border-color: -fx-primary;
    -fx-border-radius: 1px;
}

.text-field {
    -fx-font-size: 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-secondary, 20%);
}

.combo-box > * {
    -fx-background-color: -fx-secondarybackground;
}

.combo-box .context-menu {
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}

.combo-box .menu-item:focused {
    -fx-background-color: -fx-secondarybackground;
}

.combo-box .menu-item:focused > .label{
    -fx-text-fill: -fx-secondary;
    -fx-background-color: -fx-secondarybackground;
    -fx-border-color: white;
}

.combo-box .menu-item > .label {
    -fx-text-fill: white;
}

.combo-box > .label {
    -fx-text-fill: white;
}


